<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Bonjour <%= current_user.firstname.capitalize %>, voici tous tes projets</h1>
    </div>
  </div>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-3">
        <div class="project-card">
          <div class="project-card-header">
            <h2><%= project.name %></h2>
            <span class="badge badge-project"><%= project.tag %></span>
          </div>
          <div class="project-card-content">
            <p><%= project.description %></p>
          </div>
          <div class="project-card-footer">
            <%= link_to "see details", project_path(project), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
