<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 project-header">
      <div class="back-to-list">
        <%= link_to "Voir tous les projets", projects_path, class: 'btn btn-primary' %>
      </div>
      <div class="projet-header-main">
        <h1><%= @project.name %></h1>
      </div>
      <div class="project-header-description">
        <p><%= @project.description %></p>
      </div>
      <div class="project-header-footer">
        <span class="badge badge-project"><%= @project.tag %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @tasks.where(priority: "high").each do |task| %>
        <div class="task-card">
          <div class="task-card-header">
            <div>
              <h3><%= task.name %></h3>
              <span class="badge badge-task-<%= task.priority %>"><%= task.priority %></span>
            </div>
          </div>
          <div class="task-card-content">
            <p><%= task.description %></p>
          </div>
          <div class="task-card-footer">
            <span class="badge badge-task"><%= task.tag %></span>
            <span><%= task.id %></span>
          </div>
        </div>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% @tasks.where(priority: "medium").each do |task| %>
        <div class="task-card">
          <div class="task-card-header">
            <div>
              <h3><%= task.name %></h3>
              <span class="badge badge-task-<%= task.priority %>"><%= task.priority %></span>
            </div>
          </div>
          <div class="task-card-content">
            <p><%= task.description %></p>
          </div>
          <div class="task-card-footer">
            <span class="badge badge-task"><%= task.tag %></span>
            <span><%= task.id %></span>
          </div>
        </div>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% @tasks.where(priority: "low").each do |task| %>
        <div class="task-card">
          <div class="task-card-header">
            <div>
              <h3><%= task.name %></h3>
              <span class="badge badge-task-<%= task.priority %>"><%= task.priority %></span>
            </div>
          </div>
          <div class="task-card-content">
            <p><%= task.description %></p>
          </div>
          <div class="task-card-footer">
            <span class="badge badge-task"><%= task.tag %></span>
            <span><%= task.id %></span>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>


