<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h1><%= @project.name %></h1>
        <span class="badge badge-project"><%= @project.tag %></span>
      </div>
      <p><%= @project.description %></p>
        <%= link_to "Voir tous les projets", projects_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @tasks.each do |task| %>
      <ul>
        <li><%= task.name %></li>
        <li><%= task.description %></li>
        <li><%= task.tag %></li>
        <li><%= task.id %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
